<div class="todo_all">
  <div class="container">
    <h1>Todo List</h1>
    <hr />
    <form class="todo-form" #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">
      <div class="enter-todo">
        <input type="text" name="title" id="title" ngModel placeholder="Todo" />
        <textarea name="itemContent" id="itemContent" ngModel placeholder="Content"></textarea>
        <button class="button-view" type="submit">Ajouter</button>
      </div>
    </form>

    <div class="todo-view">
      <h1>Todo List</h1>
      <div class="see-todo">
        <button (click)="getItemsTodo()" class="button-view-all">
          Voir tout
        </button>
        <ul *ngIf="showItems">
          <div class="count" *ngIf="todos">Il en reste <span>{{countCompletedTasks()}} </span>  à réaliser</div>

          <li *ngFor="let todo of todos">
            <div class="todo-content">
              <p> {{ todo.title }}</p>
             Réalisée :  {{ todo.isComplete ? 'Oui' : 'Non' }}
              <p>{{ todo.created |date:'dd-MM-yyyy'}}</p>
              <p> {{ todo.itemContent }}</p>
            </div>
            <div class="todo-button">

              <button (click)="onComplete(todo.id)" class="button-check">
                Réalisée
              </button>
              <button (click)="onDelete(todo.id)" class="button-delete">
                Supprimer
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="realised">
        <button (click)="toggleCompletedTasks()" class="button-view">
          Tâches réalisées
        </button>
        <ul *ngIf="showCompletedTasks">
          <h1 id="completed-tasks">Tâches Réalisées</h1>
          <div class="count" *ngIf="todos">Il y a <span>{{ getCompletedTasksCount() }} </span> tâches réalisées</div>
          <hr />
          <li *ngFor="let todo of todos">
            <div *ngIf="todo.isComplete" class="todo-item-completed">
              <div class="check">
                {{ todo.title }}
                <button (click)="onDelete(todo.id)" class="button-delete">
                  Supprimer
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>