<div class="login-container">
  <div class="modal-content" *ngIf="!visibleRegisterForm">
    <h2>Connexion</h2>
    <form (ngSubmit)="loginUsingCookie()">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="credentials.email"
        required
      />

      <label for="password">Mot de passe:</label>

      <input
        type="{{ visiblePassword ? 'text' : 'password' }}"
        class="MDP"
        id="password"
        name="password"
        [(ngModel)]="credentials.password"
        required
      />
      <div class="visiblePassword">
        <input
          type="checkbox"
          id="visiblePassword"
          (click)="togglePassword()"
          [(ngModel)]="visiblePassword"
          [ngModelOptions]="{ standalone: true }"
        />
        <label for="visiblePassword">Afficher le mot de passe</label>
      </div>

      <button class="button-view" type="submit">Connexion</button>
      <div class="register-button">
        <button class="button-view" (click)="toggleRegisterForm()">
          Créer un compte
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="visibleRegisterForm">
    <div *ngIf="visibleRegisterForm">
      <app-register
        (registrationStatus)="handleRegistrationStatus($event)"
        (closeRegister)="closeRegisterForm()"
      >
        <button class="button-view close-button">Fermer</button>
      </app-register>
    </div>
  </div>
</div>
