<div class="login-container">
  <div class="modal-content">
    <form (ngSubmit)="loginUsingCookie()">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="credentials.email"
        required
      />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="credentials.password"
        required
      />

      <button class="button-view" type="submit">Login</button>
      <div class="register-button">
        <button class="button-view" (click)="toggleRegisterForm()">
          Créer un compte
        </button>
      </div>
    </form>
    <hr />
  </div>

  <div *ngIf="visibleRegisterForm">
    <app-register
      (registrationStatus)="handleRegistrationStatus($event)"
      (closeRegisterForm)="closeRegisterForm()"
    >
      <button (click)="closeRegisterForm()" class="close-button">X</button>
    </app-register>
  </div>
</div>
